#about
    padding: 80px 0
    .textbox
        h1
            font-size: 58px
            font-weight: 700
        h3
            font-size: 22px
            color: #8b8484
            line-height: 1.4
            margin: 24px 0 80px 0
    