#about
    padding: 80px 0
    .textbox
        h1
            font-size: 58px
            font-weight: 700
        h3
            font-size: 22px
            color: #8b8484
            line-height: 1.4
            margin: 24px 0 80px 0
    ul
        li
            display: flex
            justify-content: space-evenly
            align-items: center
            position: relative
            padding: 100px 0
        .imgbox
            width: 180px
            height: 180px
            border: 6px solid #e9ecef
            border-radius: 50%
            overflow: hidden
        .minibox
            width: 200px
            height: 200px
            width: 170px
            height: 170px
            border: 6px solid #e9ecef
            border-radius: 50%
            background: #ffc800
            h6
                font-weight: 700
                font-size: 25px
                color: #ffff
                margin: 35px 17px -27px 51px
                cursor: text
        .textbox
            width: 334px
            h2
                font-weight: 700
                font-size: 35px
                margin: 10px 0 15px 0
            h5
                font-size: 20px
                color: #797d8b
                font-weight: 500
                line-height: 1.6
        .txt
            text-align: right
            position: absolute
            top: 94px
            left: 43px
        .text
            position: absolute
            top: 94px
            right: 43px
    @media screen and ( max-width: 992px )
        ul
            li
                padding: 150px 0
                .imgbox
                    width: 100px
                    height: 100px
                .minibox
                    width: 100px
                    height: 100px
                    h6
                        font-size: 15px
                        margin: 11px 18px -8px 25px
                .textbox
                    width: 226px
                    h2
                        font-size: 30px
                        margin: 7px 0 10px 0
                    h5
                        font-size: 16px
                .txt,.text
                    position: absolute
                    top: 144px
    @media screen and ( max-width: 768px )
        .textbox
            h1
                font-size: 50px
            h3
                font-size: 20px
        ul
            li
                .textbox
                    width: 236px
                    h2
                        font-size: 25px
                        margin: 7px 0 10px 0
                    h5
                        font-size: 15px
                .imgbox,.minibox
                    width: 80px
                    height: 80px
                    position: absolute
                    top: 0
                    left: 0
                .txt,.text
                    position: absolute
                    top: 0
                    left: 107px
                .txt
                    text-align: left
                .minibox
                    h6
                        font-size: 12px
                        margin: 7px 10px 0 21px
    @media screen and ( max-width: 576px )
        ul
            li
                .textbox
                    width: 338px
    @media screen and ( max-width: 400px )
        ul
            li
                .textbox
                    width: 212px
