#about
    padding: 80px 0
    .textbox
        h1
            font-size: 58px
            font-weight: 700
        h3
            font-size: 22px
            color: #8b8484
            line-height: 1.4
            margin: 24px 0 80px 0
    ul
        li
            display: flex
            justify-content: center
            align-items: center
            height: 200px
        .textbox
            width: 50%
            text-align: end
            padding: 0 20px 20px 100px
            h2
                font-size: 25px
                font-weight: 700
                margin: 15px 0
            p
                font-size: 20px 
                color: #857e7e
                line-height: 1.4
        .imgbox
            width: 170px
            height: 170px
            border: 6px solid #ddd5d5
            border-radius: 50%
            overflow: hidden