#contact
    height: 120vh
    background-image: url(assestt/map-image.png)
    background-color: #212529
    background-position: center
    display: flex
    justify-content: center
    align-items: center
    .textbox
        text-align: center
        h1
            font-size: 40px
            color: #ffff
            font-weight: 700
        h3
            font-size: 20px
            color: #8b8484
            margin: 18px 0 53px 0
    input
        display: flex
        justify-content: flex-end
        font-size: 50px
        margin-bottom: 28px
    .button
        text-align: center
        .btn
            background-color: #b59211
            padding: 25px 58px
            opacity: 0.8
            h6
                font-size: 20px
                font-weight: 700
                color: #ffff
