#contact
    height: 660px
    background-image: url(assestt/map-image.png)
    background-color: #212529
    background-position: center
    background-size: cover
    display: flex
    justify-content: center
    align-items: center
    .textbox
        text-align: center
        h1
            font-size: 45px
            color: #ffff
            font-weight: 700
        h3
            font-size: 20px
            color: #8b8484
            margin: 18px 0 53px 0
    .button
        text-align: center
    .from
        display: flex
        flex-direction: column
    input
        padding: 20px
        margin-bottom: 24px
    textarea
        padding: 20px
        border: 2px solid #d6d4d4
        border-radius: 5px
    .btn
        background-color: #b59211
        padding: 25px 58px
        opacity: 0.8
        h6
            font-size: 20px
            font-weight: 700
            color: #ffff
        
                
